/// <reference path="Normal.scss" />
@import 'Normal.scss';
/*normal for pages*/
.main{
    padding:1em;
}
.section{
    margin-left: 0.5rem;
}
.heading{
    margin-top: 0.3em;
}
.content{
    margin-top: 0.3em;
    display:block;
}
.link{
    text-decoration:underline;
}
.hidden{
    display:none;
}
/*header*/
.navbar{
   background:$secondary-color;
    text-align:center;
}
.navbar-header,.navbar-collapse, .navbar-item{
    display:inline-block;
}
.navbar-brand{
    display:inline-block;
    font-size:2rem;
    font-style: italic;
    padding:0.5em;
   line-height: normal;/*descenders getting clipped off*/
}
.navbar-toggle {
    margin:0.5em;
    font-size:2rem;
	display: none;
}
.navbar-link{
    display:block;
    font-size:1.5rem;
    font-style: italic;
    padding:0.5em;
   line-height: normal;/*descenders getting clipped off*/
}
@media (max-width: 768px) {
    .navbar-header{
       text-align:left;
    }
	.navbar-header, .navbar-collapse, .navbar-item{
		display:block;
	}
	.collapse {
		display: none;
	}
	.navbar-toggle {
		display:block;
		float: right;
		border:solid 0.029em $font-color;
		padding: 0.264em 0.294em;
		background-color: transparent;
		border-radius: 0.118em;
	}
	.navbar-toggle .icon-bar {
		background-color:$font-color;
		display: block;
		width: 0.647em;
		height: 0.059em;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 0.118em;
	}
}

/*footer*/
.footer{
   background:$secondary-color;
   text-align:center;
}
.footer-section{
    padding:1em;
    display:inline-block;
} 
.footer-heading{
    font-weight: bold;
}
.footer-item{
    margin-top:1em;
    text-decoration:underline;
}
.copyright{
    padding:1em;
    text-align:left;
}