@{
    ViewBag.Title = "About Hormones";
}
@section css{
<link href="/Content/css/About.min.css" rel="stylesheet" />
}
<h1 class="heading">About Hormones</h1>
<div>
    <div>
        <h2 class="heading">Bonsai techniques and hormone products</h2>
        <ul>
            <li>
                <h3 class="heading">Stop water loss by closing leaf stomata</h3>
                <ul>
                    <li class="content">Keep newly repotted plants in the shade</li>
                    <li class="content">Spray leaves with abscisic acid (ABA)</li>
                </ul>
            </li>
            <li>
                <h3 class="heading">Branching by raising the cytokin/auxin ratio</h3>
                <ul>
                    <li class="content">More sun</li>
                    <li class="content">Apply keiki paste (cytokinin)</li>
                </ul>
            </li>
            <li>
                <h3 class="heading">More branching</h3>
                <ul>
                    <li class="content">Prune tips to remove auxins</li>
                    <li class="content">Removing auxins directly raises the cytokin/auxin ratio, no product here</li>
                </ul>
            </li>
            <li>
                <h3 class="heading">Grow longer roots</h3>
                <ul>
                    <li class="content">Use a drier soil (pumice) and water more often</li>
                    <li class="content">Water with rooting hormones (IAA, IBA, NAA)</li>
                    <li class="content">Note that rooting hormone does not help the number of roots. For instance cuttings will sprout the same number whether or not rooting hormone is used. But roots will be longer with hormone.</li>
                </ul>
            </li>
            <li>
                <h3 class="heading">Seed germination</h3>
                <ul>
                    <li class="content">Store seeds in the refridgerator for a month</li>
                    <li class="content">Soak in gibberellic acid</li>
                </ul>
            </li>
        </ul>
    </div>
</div>