@{
    ViewBag.Title = "Fertilizer Calculator";
    ViewBag.Description = "Calculate fertilizer solution ppm";
}
@section css{
    <link href="/Content/css/Fertilizer.min.css" rel="stylesheet" />
}
<h1>Fertilizer Calculator</h1>
<div>
    <div class="content">
        <h2 class="heading">Fertilizer Options</h2>
        <div id="fertilizer-options"><div class="loading">Loading...</div></div>
        <div class="table">
            <div class="row">
                <label class="cell" for="fertilizer-formula">Elemental Formula</label>
                <div class="cell">
                    <input type="text" id="fertilizer-formula" name="elemental-formula" placeholder="ex. MgSO4(H2O)7" value="" />
                </div>
                <div class="cell">
                    <button class="submit" id="fertilizer-add">Add</button></div>
            </div>
            <div class="row">
                <label class="cell" for="npk-formula">NPK Formula</label>
                <div class="cell">
                    <input type="text" id="npk-formula" name="npk-formula" placeholder="ex. N24P8K16" value="" />
                </div>
                <div class="cell">
                    <button class="submit" id="npk-add">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 class="heading">Desired Output</h2>
        <div class="table" id="fertilizer-goals">
            <div class="row">
                <h3 class="cell">Solution</h3>
                <h3 class="cell">Volume</h3>
                <h3 class="cell">Units</h3>
            </div>
            <div class="row">
                <label class="cell" for="volumeInput">Water</label>
                <div class="cell">
                    <input type="text" id="volumeInput" name="volume" value="3.79" />
                </div>
                <span class="cell">Liters</span>
            </div>
            <div class="row">
                <h3 class="cell">Element</h3>
                <h3 class="cell">Goal ppm</h3>
                <h3 class="cell">Output ppm</h3>
                <h3 class="cell">Error</h3>
            </div>
        </div>
        <div class="table">
            <div class="row">
                <label class="cell" for="goal-element">Element</label>
                <div class="cell">
                    <input type="text" id="goal-element" name="formula" placeholder="ex. Fe" value="" />
                </div>
                <div class="cell">
                    <button class="submit" id="goal-add">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="heading">Calculate</h2>
        <button class="submit" id="fertilizer-submit">Calculate</button>
        <div class="table" id="fertilizer-amounts"></div>
    </div>
</div>
@section scripts{
@*<script src='~/Scripts/lib/molarmass.js'></script>
    <script src='~/Scripts/app/fertilizer/fertilizerdata.js'></script>
    <script src='~/Scripts/app/fertilizer/calculator.js'></script>
    <script src='~/Scripts/app/fertilizer/ui.js'></script>
    <script src='~/Scripts/app/fertilizer/main.js'></script>*@
    <script data-main="/Scripts/dist/fertilizer/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>

}