@{
    ViewBag.Title = "About BonsaiWhy";
    ViewBag.Description = "Exploring the numbers behind tradition";
}
@section css{
    <link href="/Content/css/About.min.css" rel="stylesheet" />
}
<h1 class="heading">About</h1>
<div>
    <div class="section">
        <h2 class="heading">BonsaiWhy</h2>
        <div>
            <p class="content">Bonsai has a long tradition. There's no shortage of great advice out there.</p>
            <p class="content">But getting started can be overwhelming. Which advice do you listen to? Is there any room for compromise?</p>
            <p class="content">This site tries to provide some perspective so you can make your own decisions.</p>
        </div>
        <div>
            <div class="section">
                <h3 class="heading"><a class="link" href="/light">Light Calculator</a></h3>
                <div>
                    <p class="content">Bonsai is traditionally an outdoor hobby.</p>
                    <p class="content">Direct sunlight provides much more light than a windowsill or indoor lighting. More light creates denser growth.</p>
                    <p class="content">But what if outdoors isn't an option? How does a south-facing window or grow light compare?</p>
                    <p class="content">Light calculator compares daily light integral of indoor sunlight, outdoor sunlight, and various artificial lights.</p>
                </div>
            </div>
            <div class="section">
                <h3 class="heading"><a class="link" href="/soil">Water Calculator</a></h3>
                <div>
                    <p class="content">Bonsai soil is preferred over potting soil.</p>
                    <p class="content">Roots need both moisture and oxygen to grow. Not enough air and roots run out of oxygen. Too much air and roots dry out. Bonsai soil provides greater control over these variables.</p>
                    <p class="content">But what if the store doesn't sell "bonsai" soil? What's comparable and commonly available?</p>
                    <p class="content">Soil calculator compares water holding of potting soil, bonsai soil, and modern substrates like Turface and Diatomaceous Earth.</p>
                </div>
            </div>
            <div class="section">
                <h3 class="heading"><a class="link" href="/fertilizer">Fertilizer Calculator</a></h3>
                <div>
                    <p class="content">Bonsai fertilizer is recommended over garden fertilizer.</p>
                    <p class="content">Most garden fertilizers don't provide all of the nutrients required by a plant. Normally garden soil makes up for those missing nutrients.</p>
                    <p class="content">But bonsai fertilizer is expensive. What about hydroponic fertilizer? How about homemade fertilizer?</p>
                    <p class="content">Fertilizer calculator creates custom nutrient solutions with specific ppm and volume.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h2 class="heading">Exploring the numbers behind tradition.</h2>
        <div>
            <p class="content">By looking at these numbers we can compare traditional techniques to modern alternatives.</p>
            <p class="content">Click on some buttons and watch stuff move around. The colors are pretty cool too!</p>
        </div>
    </div>
</div>