@{
    ViewBag.Title = "Contact";
}

@section css{
    <link href="/Content/css/Contact.min.css" rel="stylesheet" />
}
<h1 class="heading">Contact</h1>
<div>
    <h2 class="heading"><a class="link" href="mailto:hello@bonsaiwhy.com">hello@bonsaiwhy.com</a></h2>
</div>