<nav class="footer-sites">
    <section class="footer-section">
        <h4 class="footer-heading"><a class="footer-link" href="/">Home</a></h4>
        <ul class="footer-content">
            <li class="footer-item">
                <a class="footer-link" href="/contact">contact</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/about">about</a>
            </li>
        </ul>
    </section>
    <section class="footer-section">
        <h4 class="footer-heading"><a class="footer-link" href="/light">Light</a></h4>
        <ul class="footer-content">
            <li class="footer-item">
                <a class="footer-link" href="/light/calculator">calculator</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/light/about">about</a>
            </li>
        </ul>
    </section>
    <section class="footer-section">
        <h4 class="footer-heading"><a class="footer-link" href="/soil">Soil</a></h4>
        <ul class="footer-content">
            <li class="footer-item">
                <a class="footer-link" href="/soil/calculator">calculator</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/soil/about">about</a>
            </li>
        </ul>
    </section>
    <section class="footer-section">
        <h4 class="footer-heading"><a class="footer-link" href="/fertilizer">Fertilizer</a></h4>
        <ul class="footer-content">
            <li class="footer-item">
                <a class="footer-link" href="/fertilizer/calculator">calculator</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="/fertilizer/about">about</a>
            </li>
        </ul>
    </section>
</nav>
<div class="copyright">BonsaiWhy &copy; 2016</div>