<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand @(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")" href="/">BonsaiWhy</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div><div class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="navbar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Light" ? "active" : "")" id="nav-light">
                <a class="navbar-link" href="/light">Light Calculator</a>
            </li><li class="navbar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Soil" ? "active" : "")" id="nav-soil">
                <a class="navbar-link" href="/soil">Soil Calculator</a>
            </li><li class="navbar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Fertilizer" ? "active" : "")" id="nav-fertilizer">
                <a class="navbar-link" href="/fertilizer">Fertilizer Calculator</a>
            </li>
        </ul>
    </div>
</nav>